@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@theme {
  --font-poppins: Poppins, sans-serif;
  --font-logo: "Bitcount Grid Double", "sans-serif";
  --color-light-dark: rgb(54, 53, 53);
  --color-red: red;
  --breakpoint-xs: 400px;
}

body {
  background-color: rgb(30, 29, 29);
}

.bg-dark {
  background-color: rgb(30, 29, 29);
}

#logo {
  text-transform: uppercase;
}

.bg-light-dark {
  background-color: rgb(54, 53, 53);
}

/* Prevent layout shift by reserving scrollbar space */
html {
  height: 100%;
  scrollbar-gutter: stable;
  overflow-y: scroll;
}
